
<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- jquery -->  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- bootstrap -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">
  
  <!-- underscore -->
  <script src="/vendor/underscore/underscore-min.js"></script>

  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">

  <!-- javascript sheet -->
  <script src="/static/javascript/home.js"></script>


  <!-- Google Fonts -->

  <!-- San Francisco -->
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

  <!-- Washington DC -->
  <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400' rel='stylesheet' type='text/css'>

  <!-- New York -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>

  <!-- Los Angeles -->
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

  <!-- Chicago -->
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

  <!-- Houston -->
  <link href='https://fonts.googleapis.com/css?family=Orbitron:500' rel='stylesheet' type='text/css'>

  <!-- Tweet font -->
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>



</head>
<body>
  <div class='container-fluid'>

  <br>
  <div class='row'>
      <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
          <div class='jumbotron'>
            <h1>Tweets about Trump</h1>
            <h2>A look at what various fine cities across the US of A are saying out the man.</h2>
          </div>
      </div>
  </div><br>

  <div class='row'>
      <a href='#newYork'><div class='cityIndex col-xs-6 col-sm-4 col-md-4 col-lg-4'>New York City</div></a>
      <a href='#washingtonDC'><div class='cityIndex col-xs-6 col-sm-4 col-md-4 col-lg-4'>Washington DC</div></a>
      <a href='#sanFrancisco'><div class='cityIndex col-xs-6 col-sm-4 col-md-4 col-lg-4'>San Francisco</div></a>
      <a href='#LA'><div class='cityIndex col-xs-6 col-sm-4 col-md-4 col-lg-4'>Los Angeles</div></a>
      <a href='#Chicago'><div class='cityIndex col-xs-6 col-sm-4 col-md-4 col-lg-4'>Chicago</div></a>
      <a href='#Houston'><div class='cityIndex col-xs-6 col-sm-4 col-md-4 col-lg-4'>Houston</div></a>
  </div><br>

      <div class='row'>

          <div class='col-xs-12 col-sm-12 col-md-6 col-lg-4'>
              <div id='newYork' class='cityImg panel panel-default'> 
                  <h2 class='cityName'>New York City</h2>
              </div>
              <div id='tweet-placeholder-NYC'></div>
          </div>


          <div class='col-xs-12 col-sm-12 col-md-6 col-lg-4'>
              <div id='washingtonDC' class='cityImg panel panel-default'> 
                  <h2 class='cityName'>Washington DC</h2>
              </div>
              <div id='tweet-placeholder-DC'></div>
          </div>


         <div class='col-xs-12 col-sm-12 col-md-6 col-lg-4'>
              <div id='sanFrancisco' class='cityImg panel panel-default'> 
                  <h2 class='cityName'>San Francisco</h2>
              </div>
              <div id='tweet-placeholder-SF'></div>
         </div>
      </div>

      <div class='row'>
         <div class='col-xs-12 col-sm-12 col-md-6 col-lg-4'>
              <div id='LA' class='cityImg panel panel-default'> 
                  <h2 class='cityName'>Los Angeles</h2>
              </div>
              <div id='tweet-placeholder-LA'></div>
         </div>

         <div class='col-xs-12 col-sm-12 col-md-6 col-lg-4'>
              <div id='Chicago' class='cityImg panel panel-default'> 
                  <h2 class='cityName'>Chicago</h2>
              </div>
              <div id='tweet-placeholder-Chicago'></div>
         </div>

         <div class='col-xs-12 col-sm-12 col-md-6 col-lg-4'>
              <div id='Houston' class='cityImg panel panel-default'> 
                  <h2 class='cityName'>Houston</h2>
              </div>
              <div id='tweet-placeholder-Houston'></div>
         </div>

      </div>
  </div>

</body>
</html>


  <script type='text/template' id='tweets-template'>

      <div class='panel panel-default'>
          <div class='panel-body tweetContent'>
              <h3><%= text %></h3>


              <% if(entities.media !== undefined) { %>

                <img class='tweetImg col-xs-12 col-sm-12 col-md-12 col-lg-12' src="<%= entities.media[0].media_url_https %>"><br>

              <% } %>


              <% if(entities.hashtags.length === 1) { %>

                <h4><a href="https://twitter.com/search?q=%23<%= entities.hashtags[0].text %>&src=typd">#<%= entities.hashtags[0].text %></a></h4>

              <% } else if(entities.hashtags.length === 2) { %>  

                <h4><a href="https://twitter.com/search?q=%23<%= entities.hashtags[0].text %>&src=typd">#<%= entities.hashtags[0].text %></a> <a href="https://twitter.com/search?q=%23<%= entities.hashtags[1].text %>&src=typd">#<%= entities.hashtags[1].text %></a></h4>

              <% } else if(entities.hashtags.length === 3) { %>

                <h4><a href="https://twitter.com/search?q=%23<%= entities.hashtags[0].text %>&src=typd">#<%= entities.hashtags[0].text %></a> <a href="https://twitter.com/search?q=%23<%= entities.hashtags[1].text %>&src=typd">#<%= entities.hashtags[1].text %></a> <a href="https://twitter.com/search?q=%23<%= entities.hashtags[2].text %>&src=typd">#<%= entities.hashtags[2].text %></a></h4> 

              <% } else if(entities.hashtags.length === 4) { %>

                <h4><a href="https://twitter.com/search?q=%23<%= entities.hashtags[0].text %>&src=typd">#<%= entities.hashtags[0].text %></a> <a href="https://twitter.com/search?q=%23<%= entities.hashtags[1].text %>&src=typd">#<%= entities.hashtags[1].text %></a> <a href="https://twitter.com/search?q=%23<%= entities.hashtags[2].text %>&src=typd">#<%= entities.hashtags[2].text %></a> <a href="https://twitter.com/search?q=%23<%= entities.hashtags[3].text %>&src=typd">#<%= entities.hashtags[3].text %></a></h4> 

              <% } else if(entities.hashtags.length === 5) { %>

                <h4><a href="https://twitter.com/search?q=%23<%= entities.hashtags[0].text %>&src=typd">#<%= entities.hashtags[0].text %></a> <a href="https://twitter.com/search?q=%23<%= entities.hashtags[1].text %>&src=typd">#<%= entities.hashtags[1].text %></a> <a href="https://twitter.com/search?q=%23<%= entities.hashtags[2].text %>&src=typd">#<%= entities.hashtags[2].text %></a> <a href="https://twitter.com/search?q=%23<%= entities.hashtags[3].text %>&src=typd">#<%= entities.hashtags[3].text %></a> <a href="https://twitter.com/search?q=%23<%= entities.hashtags[3].text %>&src=typd">#<%= entities.hashtags[4].text %></a></h4> 

              <% } %>


              <% if(entities.urls.length === 1) { %>

                <h5><a href='<%= entities.urls[0].expanded_url %>'><%= entities.urls[0].expanded_url %></a></h5>

              <% } %>



          </div>
      </div>

          



  </script>



