

#washingtonDC {
  background-image: url("../images/DC.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Libre Baskerville', serif;
  color: rgba(113, 4, 13, 1);
  text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}


#newYork {
  background-image: url("../images/NYC.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;
  color: rgba(250, 220, 20, 1);
/*  text-shadow:
    -1px -1px 0 #bf6e12,
    1px -1px 0 #bf6e12,
    -1px 1px 0 #bf6e12,
    1px 1px 0 #bf6e12;*/
}


#sanFrancisco {
  background-image: url("../images/SFcity.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Playball', cursive;
  color: rgba(103, 15, 159, 1);
  text-shadow:
    -1px -1px 0 #bf6e12,
    1px -1px 0 #bf6e12,
    -1px 1px 0 #bf6e12,
    1px 1px 0 #bf6e12;
}

.cityImg {
  height: 300px;
  width: 100%;
}

.cityName {
  font-size: 7ch;
  margin-top: 120px;
  text-align: center;
}


/************** Tweet Boxes  ***********************/

h3 {
  color: #716a6a;
  font-family: 'Roboto Condensed', sans-serif;
}


.tweetImg {
  max-height: 100%;
  max-width: 100%
}


.tweetContent:hover {
  background-color: yellow;
}


/*
blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}
 
blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}
 
blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}
 
blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}*/