
/****************************  JumboTron  ****************************/

.jumbotron {
  background-image: url("../images/flag.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron h1 {
  font-weight: 700;
  color: #790000;
  font-family: 'Arimo', sans-serif;
  font-size: 80px;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.jumbotron h2 {
  font-weight: 400;
  color: #790000;
  font-family: 'Arimo', sans-serif;
  font-size: 40px;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

/*.jumbotron h4 {
  font-weight: 400;
  color: yellow;
}*/




/******************* City Index Div   href's   **********************/

.cityIndex {
  text-align: center;
  color: white;
  text-shadow:
    -1px -1px 0 #716a6a,
    1px -1px 0 #716a6a,
    -1px 1px 0 #716a6a,
    1px 1px 0 #716a6a;
  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px; 
  font-size: 4ch;
}

.cityIndex:hover {
  background-color: #FAECED;
  color: #790000;
  text-shadow: none;
  border: 2px solid #790000; 
}



/****************** City heading image divs  **********************/

#washingtonDC {
  background-image: url("../images/DC.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Slabo 27px', serif;
  color: rgba(113, 4, 13, 1);
  text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}


#newYork {
  background-image: url("../images/NYC.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;
  color: rgba(250, 220, 20, 1);
}


#sanFrancisco {
  background-image: url("../images/SFcity.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lobster', cursive;
  color: rgba(103, 15, 159, 1);
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

#LA {
  background-image: url("../images/LA.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Poiret One', cursive;
  text-decoration: bold;
  color: rgba(9, 197, 211, 1);
  text-shadow:
    -1px -1px 0 #f514a3,
    1px -1px 0 #f514a3,
    -1px 1px 0 #f514a3,
    1px 1px 0 #f514a3;
}

#Chicago {
  background-image: url("../images/Chicago.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Muli', sans-serif;
  color: white;
}


#Houston {
  background-image: url("../images/Houston.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Orbitron', sans-serif;
  color: rgba(126, 32, 32, 1);
}



.cityImg {
  height: 300px;
  width: 100%;
}

.cityName {
  font-size: 7ch;
  margin-top: 120px;
  text-align: center;
}


/************** Tweet Boxes  ***********************/

h3 {
  color: #716a6a;
  font-family: 'Roboto Condensed', sans-serif;
}


.tweetImg {
  max-height: 100%;
  max-width: 100%
}


/*.tweetContent:hover {
  background-color: yellow;
}*/
